@model IEnumerable<LIS.Model.Models.tblrole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<p>
    @Html.ActionLink("Create New", "Create", null, null, new { @class = "btn btn-primary" })
</p>






<div class="card">
    <div class="card-header">
        <div class="card-title">
            Roles
        </div>
    </div>
    <div class="card-body col-md-12">
        <table id="tblequipement" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Rolename
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.rolename)
                        </td>

                        <td>
                            <a href="@Url.Action("Edit","Role",new { id = item.roleid })" class="btn btn-sm btn-warning">
                                <i class="fa fa-pencil"></i>
                            </a>|
                            <a href="@Url.Action("Details","Role",new { id = item.roleid })" class="btn btn-sm btn-success">
                                <i class="fa fa-eye"></i>
                            </a>|
                            <a href="@Url.Action("Delete","Role",new { id = item.roleid })" onclick="return confirm('Are you sure you wish to delete this equipement?');" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>|

                        </td>
                    </tr>
                }
            </tbody>




        </table>
    </div>
    <div class="card-footer">

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblequipement').DataTable();
    });




</script>