@model LIS.Model.Models.tbldoctor

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center><h4 class="modal-title" id="exampleModalLongTitle">Doctor Details</h4></center>
            </div>

            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.doctorname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.doctorname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.doctormoblienumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.doctormoblienumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.designation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.designation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.doctoremail)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.doctoremail)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Edit","Doctor",new { id = Model.doctorid })" class="btn btn-sm btn-warning">
                    <i class="fa fa-pencil"></i>Edit
                </a>
                <a href="@Url.Action("Index")" class="btn btn-sm btn-info right">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery("#exampleModalCenter").modal('show');
    });
</script>

@*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h4 class="modal-title" id="exampleModalLongTitle">Doctor Details</h4></center>
                </div>

                <div class="modal-body">
                    <div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("Edit","Doctor",new { id = Model.doctorid })" class="btn btn-sm btn-warning">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-info right">
                        <i class="fa fa-arrow-left"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function(){
            jQuery("#exampleModalCenter").modal('show');
        });
    </script>*@

